.footer {
    margin-top: px-to-rem(39px);
    background: $c-green;
    padding-block: px-to-rem(31px);
    @media (min-width:1024px) {
        padding-top: px-to-rem(51px);
        padding-bottom: px-to-rem(49px);
    }

    &-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: px-to-rem(20px);
        @media (min-width:1024px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &-social-icons{
        display: flex;
        align-items: center;
        gap: px-to-rem(20px)
    }
    
    &-copytext{
        font-weight: normal;
        font-size: px-to-rem(20px);
        color: $c-white;
    }
}